@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="overview-margin">
<H2>@Model.ArticleTitle</H2>

@Model.ArticleContent
</div>