@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
Layout = "Master.cshtml";
}
<div class="overview-margin">
    <div class="text-center">
        <h2>@CurrentPage.Name</h2>
       
    </div>
    @if (TempData["success"] == null)
    {
        @Html.Action("Index", "ContactFormSurface")
    }
    else
    {
        <p>Thank you for contacting us. We will be in touch soon!</p>
    }
</div>