@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@{
    var logoId = Umbraco.Field("logo");
    var logo = Umbraco.Media(logoId.ToString());
    var logoURL = logo.Url;
}
<div class="overview-margin">
   @* <img class="center-horizontally" src="@logoURL"> *@

<div class="text-center"> 
    @Model.MainContent
</div>
<h3>Our latest projects</h3>
 @Umbraco.RenderMacro("listNewestProjects", new { numOfProjects = 3 })
 </div>
