@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="text-center overview-margin">
    <h2>@Model.Name</h2>

</div>
@Html.Partial("LoginForm", Model)