@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
@{
    var SelectionId = Model.ProjectStatus;
}
<div class="overview-margin">
    <H3>@Umbraco.Field("projectTitle") <br><small>Project Status: @umbraco.library.GetPreValueAsString(SelectionId)</small></H3>
    <br>

    @Model.ProjectDescription
</div>