hr {
    height: 1px;
	background-color: black;
    margin-bottom: 0px;
}

.article-row-odd {
	background: whitesmoke;
}

.article-row-even {
	background: lightgray;
}

.center-horizontally {
	display: block;
	margin: 0 auto;
}

.overview-margin {
	margin: 10;
}

.pagebody {
	width: 90%;
	margin: auto;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.contact-form {
    width: 500px;
    margin: 50px auto;
}

.login-form, .contact-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}